
/* 
@media screen and (max-width:974px)
{
    
        

    .navbar-header {
    margin-top: 5px !important;
    border-bottom: none !important;
    }
    .logoe
    {
        margin-left:10px !important;
        max-width: 100% !important;
        }


    .navbar
    {
        margin-top:10px;
    }


    .right
    {
        margin-top: 20px;
        text-align: center;
        float: none;
    }



    .logoo
    {
        margin-left: 0px !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
        margin-top: 4px;
    }
    .navbar-default .navbar-collapse
    {
        border-color: none;
        background: #34acefe6;
    }

}



@import url('Design/NewFonts0500.css?family=Vollkorn'); */



.icons
{
    border: #d8d8d8 2px solid;
    border-radius: 25px;
    padding: 4px;
    margin-right: 5px;
    color: white !important;
    text-decoration: none;
    font-size: small;
}

.icons:hover
{
    border: #d8d8d8 2px solid;
    border-radius: 25px;
    padding: 4px;
    margin-right: 5px;
    color: black !important;
    background-color: white;
}

.icons a:hover
{
    color: Black !important;
}

.right
{
    float: right;
}

.boxs
{
    
    text-align: center;
background-color: #f5f5f5;
margin-bottom: 20px;
padding: 16px;
}

.boxs:hover
{
   
    text-align: center;
    background-color: #f5f5f587;
    margin-bottom: 20px;
    padding: 16px;
    box-shadow: #e0e0e0 2px 2px 15px 2px;
}

 


.fab
{
       line-height: 20px;
    text-align: center;
    transition: transform .2s ease-in-out;
    float: left;
    margin-top: -2px;
    margin-right: 6px;
    color: red;
}

.fab2
{
    width: 21px;
    height: 21px;
    border-radius: 5%;
    position: relative;
    right: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: #b3a858;
    transition: transform .2s ease-in-out;
    float: left;
    margin-bottom: 4px;
    margin-top: -2px;
    border-radius: 25px;
}



.head
{
    background-color: #34abef;
    padding: 11px;
    color: white;
    font-weight: 700;
}



.boxsbody a
{
       text-align: left;
    font-size: 14px;
    color: Black;
    text-decoration: none;
}

.boxsbody a:hover
{
    text-align: left;
    font-size: 14px;
    color:red;
    text-decoration: none;
}

.boxsbody
{
    padding: 9px;
    text-align: left;
    font-size: small;
    color: Black;
}


hr
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: 0 !important;
    border-top: 2px solid #eee !important;
}

.media-heading
{
    font-weight: 800;
    color: #5a5a5a;
}


.liste
{
    color: White;
    font-weight: bold;
    font-size: large;
    border: white 3px solid !important;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #e6e6e6;
    box-shadow: #d2d2d2 2px 2px 6px 2px;
}


.liste:hover
{
    color: White !important;
    font-weight: bold;
    font-size: large;
    background-color: #d4d4d4;
    border: white 3px solid !important;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: #d2d2d2 2px 2px 6px 2px;
}



.blinking{
   animation: blinkingText 2s infinite;
    font-weight: bold;
    font-size: 14px;
}
@keyframes blinkingText{
    0%{     color: black;    }
    49%{    color: pink; }
    50%{    color: blue; }
    99%{    color:pink;  }
    100%{   color: green;    }
}

.box-2 a
{
    text-align: left;
    font-size: 14px;
    color: Black;
    text-decoration: none;
    }
    
    
    .box-2 a:hover
{
    text-align: left;
    font-size: 14px;
    color:red;
   
    text-decoration: none;
   
    }

.box-2 {
    background-color: white;
    padding: 20px;
    min-height: 335px;
    margin-bottom: 20px;
    border-radius: 25px;
}
    
    
    .box-2:hover
{
    background-color:#fff7f0;
    padding: 20px;
    height:290px;
    margin-bottom:20px;
      box-shadow: #e2e2e2 2px 2px 6px 2px;
       border-radius:25px;
    }
    
    .box-3
    {
    font-size: 14px;
    box-shadow: #e0e0e0 2px 2px 15px 2px;
    padding: 20px;
   
    margin-bottom:20px;
      background-color: floralwhite;
    
        }
    .box-3 a
    {
        color:Black;
        text-decoration:none;
        
        }
        
         .box-3 a:hover
    {
        color:red;
        text-decoration:none;
        
        }
        
        
        .collapsed
        {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
            
            }
            
     .panel-group .panel {
    border-radius: 36px !important;
    border: #bbbbbb 2px solid  !important;
    text-align: center !important;
}


.panel-default>.panel-heading {
    color: #333!important;
    background-color: #c3c3c375!important;
    border-color: #ddd!important;
}
  
  .fawesome
  {
     
    background-color: #e6ff00;
    padding: 10px;
    border-radius: 46px;
    width: 43px;
    margin-right: 10px;
    border: gray 2px solid;
    font-size: large;
    box-shadow: #c7c7c7 2px 2px 6px 2px;

      }
      
      .panel-group .panel {
    border-radius: 36px !important;
    border: #bbbbbb 2px solid !important;
    text-align: center !important;
    box-shadow: gainsboro 2px 2px 6px 2px !important;
}